.box
{
	background-color: tomato;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
	border-style: solid;
}

#boxtop
{
	display: block;
	width: 80%x;
	height: 100px;
	border-style: solid;
}

.ansBox
{
	display: inline-block;
	width: 25%;
	height: 300px; 
	border-style: solid;
	margin: auto;
	vertical-align: top;
}
#eqbox
{
	border-style: solid;
	margin: auto;
	margin-top: 12px;
	width: 10%;
	justify-content: center;
	display: flex;
}
#eq
{
	color: red;
	margin: auto;
}
.opperator
{
	display: inline-block;
	vertical-align:top;
	font-size: 30px;
	margin-right: 30px;
	margin-left: 30px;
}
#dragInBoxWrapper
{
	display: block;
	width: 80%;
	margin: auto;
	padding: auto;
	margin-top: 20px;
	justify-content:center;
}
#button
{
	margin-top: 30px;
	margin-left: 45%;
	margin-right: 45%;
	width: 10%;
}

